<mat-nav-list>
    <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedInUser">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="close()">
        <mat-icon>app_registration</mat-icon>
        <span>Register</span>
    </a>
    <a mat-list-item routerLink="/main" (click)="close()">
        <mat-icon>grid_view</mat-icon>
        <span>Main</span>
    </a>
    <a mat-list-item routerLink="/gallery" (click)="close()">
        <mat-icon>collections</mat-icon>
        <span>Gallery</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="close()">
        <mat-icon>info</mat-icon>
        <span>Contact</span>
    </a>
</mat-nav-list>

<!-- <select [(ngModel)]="currentPage" (change)="menuSwitch()">
    <option value="login">Login</option>
    <option value="signup">Register</option>
    <option value="main">Main</option>
    <option value="gallery">Gallery</option>
    <option value="contact">Contact</option>
</select> -->