<app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page"></app-menu>
<!-- <ng-container [ngSwitch]="page">
  <ng-container *ngSwitchCase="'main'">
    <div class="main_component">
      <app-main></app-main>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'gallery'">
    <app-gallery></app-gallery>
  </ng-container>
  <ng-container *ngSwitchCase="'contact'">
    <app-contact>
      <h1>This is the contact page.</h1>
    </app-contact>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <h1>Page not found...</h1>
  </ng-container>
</ng-container> -->

<router-outlet></router-outlet>