<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>LearnFlow</div>
      <nav>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/tasks">Tasks</a></li>
          <li><a routerLink="/completed">Completed Tasks</a></li>
          
          @if (isLoggedIn) {
            <li><a routerLink="/profile">Profile</a></li>
          }
          
          @if (!isLoggedIn) {
            <li><a routerLink="/login">Login</a></li>
          }
          
          @if (isLoggedIn) {
            <li><a href="#" (click)="$event.preventDefault(); logout()">Logout</a></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>