<div class="container" *ngIf="imageInput">
    <img class="galleryImage" [src]="'assets/' + imageInput.id + '.jpg'" />
    <div class="break"></div>
    <div>{{imageInput.user_name}}</div>
    <div class="break"></div>
    <div>{{imageInput.user_url}}</div>
    <div class="break"></div>
    <div>{{imageInput.photo_url}}</div>

    <div class="break"></div>
    <div *ngIf="comments.length">
        <table>
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
            <!-- <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'"> -->
            <tr *ngFor="let comment of comments; let i = index;" [ngStyle]="{'background-color' : i % 2 === 0 ? 'darkcyan' : 'cyan'}">
                <td>{{comment.username}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.date | dateFormat}}</td>
            </tr>
        </table>
    </div>

    <div class="break"></div>
    <div>
        <label for="username">Username: </label>
        <input type="text" [(ngModel)]="commentObject['username']" />
    </div>
    <div class="break"></div>
    <div>
        <textarea rows="10" cols="50" [(ngModel)]="commentObject['comment']"></textarea>
    </div>

    <div class="break"></div>
    <div>
        <button (click)="addComment()">ADD</button>
    </div>




</div>