<div class="not-found-container">
    <mat-card class="not-found-card">
      <mat-card-content>
        <div class="not-found-content">
          <mat-icon class="not-found-icon">error_outline</mat-icon>
          <h1>Page Not Found</h1>
          <p>The page you are looking for doesn't exist or has been moved.</p>
          <button mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon>home</mat-icon> Back To Home
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>