<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [routerLink]="[ '/' ]">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Profil</span>
  </mat-toolbar-row>
</mat-toolbar>

<app-container *ngIf="form" [formGroup]="form">

  <mat-card class="margin-bottom">
    <mat-card-header>
      <mat-card-title>Biztonság és magánélet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>lock</mat-icon>
          <div mat-line> E-mail </div>
          <div mat-line> {{form.value.identifier[1].value}} </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="margin-bottom">
    <mat-card-header>
      <mat-card-title>Általános információk</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="max-width margin-bottom" cellspacing="0" formArrayName="name">
        <tr>
          <td formGroupName="0">
            <mat-form-field class="max-width">
              <mat-label>Név</mat-label>
              <input type="text" name="name" matInput formControlName="text">
            </mat-form-field>
          </td>
          <td formGroupName="1">
            <mat-form-field class="max-width">
              <mat-label>Leánykori név</mat-label>
              <input type="text" formControlName="text" name="name" matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="max-width margin-bottom" cellspacing="0">
        <tr style="display: flex; align-items: center;">
          <td style="flex: 1;">
            <mat-form-field appearance="fill" class="max-width">
              <mat-label>Születésnap</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate" autocomplete="new-password">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td style="flex: 1; padding-left: 8px;">
            <mat-radio-group formControlName="gender" class="max-width">
              <mat-radio-button value="Egyéb">Egyéb</mat-radio-button>
              <mat-radio-button value="Férfi">Férfi</mat-radio-button>
              <mat-radio-button value="Nő">Nő</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="margin-bottom">
    <mat-card-header>
      <mat-card-title>Kapcsolattartási információk</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="max-width" cellspacing="0" formArrayName="telecom">
        <tr>
          <td formGroupName="0">
            <mat-form-field class="max-width">
              <mat-label>E-mail</mat-label>
              <input type="email" name="email" matInput formControlName="value">
            </mat-form-field>
          </td>
          <td formGroupName="1">
            <mat-form-field class="max-width">
              <mat-label>Telefon</mat-label>
              <input type="phone" formControlName="value" matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="margin-bottom" formArrayName="address">
    <mat-card-header>
      <mat-card-title>Lakcímek</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="secondary" class="max-width margin-bottom" (click)="addAddress()">
        <mat-icon>add</mat-icon>
        Cím
      </button>
      <span *ngFor="let item of getAddress.controls; let i = index" class="max-width" style="display: flex;">
        <mat-form-field [formGroupName]="i" style="flex: 1 1;">
          <mat-label>Lakcím {{i + 1}}.</mat-label>
          <input type="text" name="address" formControlName="text" matInput>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeAddress(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-card-content>
  </mat-card>

  <button mat-button (click)="log()">log</button>
</app-container>
