<span [ngSwitch]="page">

  <span *ngSwitchCase="'home'">
    <app-nav [selectedCategory]="category" [categories]="categories" (callSelectC)="onSelect($event)"
      (callSelectPage)="page = $event"></app-nav>
    <span [ngSwitch]="category">
      <span *ngSwitchCase="'movie'" class="container">
        <app-movie-card *ngFor="let item of movies" [movie]="item" appOnHover (getMovie)="goToDetails($event)"
          (callFav)="onFavorite($event)"></app-movie-card>
      </span>
      <span *ngSwitchCase="'game'" class="container">
        <app-game-card *ngFor="let item of games | async" [game]="item" appOnHover></app-game-card>
        <button mat-fab class="action-btn" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
      <span *ngSwitchCase="'favorite'" class="container">
        <app-favorite-card *ngFor="let favorite of favorites" [favorite]="favorite"></app-favorite-card>
      </span>
      <span *ngSwitchDefault class="container">
        <app-splash-screen [categories]="categories" (callSelectC)="onSelect($event)"></app-splash-screen>
      </span>
    </span>
  </span>

  <span *ngSwitchCase="'registration'">
    <app-registration (callSelectPage)="page = $event"></app-registration>
  </span>

  <span *ngSwitchCase="'details'">
    <app-details>
    </app-details>
  </span>

  <span *ngSwitchDefault>
    <app-login (callSelectPage)="page = $event"></app-login>
  </span>
</span>
