<div class="main_component">
    <div class="div-flex">
        <h1>Register an account!</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Password: </mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="rePassword">Confirm password: </mat-label>
                <input matInput type="password" formControlName="rePassword" />
            </mat-form-field>
            <div formGroupName="name" class="subForm">
                <mat-form-field>
                    <mat-label for="firstname">First name: </mat-label>
                    <input matInput type="text" formControlName="firstname" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="firstname">Last name: </mat-label>
                    <input matInput type="text" formControlName="lastname" />
                </mat-form-field>
            </div>
            <div>
                <span class="buttons">
                    <button mat-raised-button color="primary" type="submit">Register</button>
                </span><span class="buttons">
                    <button mat-raised-button color="primary" (click)="goBack()">Back</button>
                </span>
            </div>
        </form>
    </div>
</div>