<!--<ng-content></ng-content>
<select #pageValue (change)="menuSwitch(pageValue.value)">
    <option value="home">Home</option>
    <option value="tasks">Tasks</option>
    <option value="completed">Completed</option>
    <option value="profile">Profile</option>
</select>
-->
<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/tasks">Tasks</a></li>
      <li><a routerLink="/completed">Completed Tasks</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
</nav>