<div>
    <select #chosenImage (change)="reload()">
        <option value="OQyRttOV4l8">OQyRttOV4l8</option>
        <option value="5XP-n_Xqqv8">5XP-n_Xqqv8</option>
        <option value="Shf_B7x8gDA">Shf_B7x8gDA</option>
        <option value="lFAhbzmvpak">lFAhbzmvpak</option>
        <option value="eFXho78pQH8">eFXho78pQH8</option>
        <option value=""></option>
    </select>

    <div class="container">
        <img class="galleryImage" [src]="'assets/' + chosenImage.value + '.jpg'" />
        <div class="break"></div>
        <div>{{galleryObject[chosenImage.value].user_name}}</div>
        <div class="break"></div>
        <div>{{galleryObject[chosenImage.value].user_url}}</div>
        <div class="break"></div>
        <div>{{galleryObject[chosenImage.value].photo_url}}</div>
    </div>
</div>