.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
}

app-movie-card,
app-game-card,
app-favorite-card {
  min-width: 200px;
  flex: 1 1;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.action-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
