.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
}

form div {
    padding: 5px 5px 5px 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.subForm {
    width: 100%;
    display: inline-grid;
}

.buttons {
    padding: 5px;
}

button {
    width: 100px;
}